<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='/css/smoke.css' rel='stylesheet' type='text/css'>
    <link href='/css/smoke_mobile.css' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8"/>
    <title>{% block title %}smoke by phmLabs{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>

<style type="text/css">


</style>

<body>
<header>
    <a href="{{ path("whm_smoke_homepage") }}"><span class="logo">Smoke</span></a>
</header>
<div id="body">
    <div class="content">
        {% block body %}{% endblock %}
    </div>
</div>

<footer>
    Impressum: Nils Langner | Quellenweg 4 | 20535 Hamburg | nils.langner@phmlabs.com
</footer>

{% block javascripts %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</body>
</html>