{% extends "::base.html.twig" %}

{% block body %}
    <h1>Results</h1>

    <div class="results">
        {% for url, result in results %}
            <div class="result status_{{ result.type }}">

                <div class="url">{{ url }}</div>

                <ul class="messages">
                    {% for ruleName, message in result.messages %}
                        <li>{{ ruleName }} -- {{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

{% endblock %}